@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
:root {
    background-color: rgba(224, 158, 36, 0.507);
}
.myyDiv{
    margin-top: 70px;
}
.myyyDiv{
    margin-top: 70px;
}
.niceI{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    background-color: rgba(161, 91, 10, 0.541);
    border-radius: 25px;
    border-color:rgba(214, 88, 4, 0.719);
}
.niceBut{
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px; 
}
.niceP{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.nicePp {
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.wowlab {
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.wowi{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    background-color: rgba(161, 91, 10, 0.541);
    border-radius: 25px;
    border-color:rgba(214, 88, 4, 0.719);
}
.corgi{
    width: 500px;
    height: 500px;
    margin-top: 70px;
    border-color: #862904;
    border-radius: 30px; 
    border-style: solid;
}