@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
:root {
    background-color:rgba(224, 158, 36, 0.507);
}
h1 {
    font-family:  'Bungee Spice', cursive;
    font-size: 6rem;
    text-align: center;
}

 .heart-shape {
    position: relative;
    width: 100px; 
    height: 80px;
    }
    .heart-shape:before, 
    .heart-shape:after {
    content: "";
    position: absolute; 
    left: 50px; 
    top: 0;
    width: 50px; 
    height: 80px;
    background: #df3910;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg); 
    transform-origin: 0 100%;
    }
    .heart-shape:after {
    left: 0;
    transform: rotate(45deg); 
    transform-origin: 100% 100%;
    }
p {
    font-family: 'Golos Text', sans-serif;
    color:darkred;
}
.vaccination {
    font-family: 'Golos Text', sans-serif;
    color:darkred;
    border-color: chocolate;
    background-color: rgb(245, 210, 167);
}
.vaccinationH {
    font-family: 'Golos Text', sans-serif;
    color:darkred;
    font-weight: bold;
}

td{
    background-color:rgb(255, 177, 87);
}
th{
    background-color:rgb(241, 162, 71);
}
.discount {
    text-decoration: line-through;
    font-family: 'Golos Text', sans-serif;
    color:darkred;
}

.breed {
    font-family: 'Golos Text', sans-serif;
    color:darkred;
}