@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

:root {
    background-color: rgba(224, 158, 36, 0.507);
}

h1 {
    margin: 0%;
    margin-bottom: 4%;
    font-family: 'Bungee Spice', cursive;
    font-size: 6rem;
    text-align: center;
    transform: scale(1.1);
    background-image: linear-gradient(to bottom, #cc4922, #ecb46a);
}

@keyframes moveDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(50px);
    }
}
.breed {
    text-align: center;
    margin-bottom: 6%;
    font-size: 35px;
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    animation: moveDown 3s ease infinite;
}

.heart-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;

    position: relative;
    width: 100px;
    height: 80px;
}

.heart-shape:before,
.heart-shape:after {
    content: "";
    position: absolute;
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #df3910;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart-shape:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.quoteanimation {
    margin: 4%;
    border-radius: 3%;
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    box-shadow: 10px 15px 25px rgba(248, 59, 12, 0.884);
    transform: translateY(-5px);
}

.vaccination {
    margin: auto;
    margin-bottom: 2%;
    align-items: center;
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    border-color: chocolate;
    background-color: rgb(245, 210, 167);
}

.vaccinationH {
    font-size: 35px;
    text-align: center;
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    font-weight: bold;
    animation: moveDown 3s ease infinite;
}

td {
    background-color: rgb(255, 177, 87);
}

th {
    background-color: rgb(241, 162, 71);
}

.discount {
    text-decoration: line-through;
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    text-align: center;
}

.corgiList {
    background-color: rgb(241, 162, 71);
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}

.lovelyCorgi,
.lovelyCorgiTwo {

    margin: 7%;
    border-style: groove;
    border-color: orange;
    border-width: 3px;
    border-radius: 10%;
    transform: rotate(15deg);
}

.lovelyCorgiOne {
    margin: 3%;
    border-style: groove;
    border-color: orange;
    border-width: 3px;
    border-radius: 10px;
    transform: rotate(-15deg);
}



.animation {
    margin-left: -8%;
    margin-right: -8%;
    margin-bottom: -5%;
    text-align: center;
    font-size: 2rem;
    color: rgb(126, 60, 21);
    font-family: 'Golos Text', sans-serif;
    height: 100px;
    background: linear-gradient(45deg, rgb(221, 65, 18), rgb(250, 164, 34), rgb(245, 206, 123));
    background-size: 400% 400%;
    transition: background-position 1s ease;
}

.animation:hover {
    background-position: 100% 100%;
}

.quote {
    margin-top: 7%;
    margin-bottom: 7%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 30%; /* розтягувати на висоту батька */
    justify-content:start;
  }
  
  .ulcorgi {
    flex-grow: 100; /* розтягуватись на залишок вільного простору */
  }
  .corgiList {
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 40px;
}
.buttons {
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px;
    margin-bottom: 2%;
}
.labthree {
    margin-top: 3%;
}
.dogg {
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.labthreeNext {
    margin-top: 5%;
}
.corgii {
    margin-bottom: 3%;
}
.labFourthFive {
    margin-top: 10%;
    color: rgb(126, 60, 21);
    font-family: 'Golos Text', sans-serif;
}
.labFourthFiveBut {
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px;
}
.labFourthSeventeen {
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px;
}
.labFourthSeventeenBut {
    background-color: rgb(209, 101, 38);
    font-family: 'Golos Text', sans-serif;
}
.ptaskFourth {
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    margin-top: 4%;
    padding-left: 7%;
    font-size: 210%;
}
.taskOneLabFive {
    margin-top: 0.5%;
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px;
}
.stringg{
    margin-top: 5%;
}
hr{
    border-top: 1px solid rgb(230, 144, 88);
}
.stringgs {
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.ptask{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
}
.arraysMy{
    margin-top: 5%;
}
.myarray{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.nicebutton{
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px;
}
input {
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px;
}
.ptaskk{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
}
.wowbutton{
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px;
}
.topclass{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
}
.woowbutton{
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px;
}
.woowlabel{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.nicediv{
    margin-top:6%;
}
.niceediv {
    margin-top:6%;
}
th{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.cooldiv{
    margin-top:6%;
    margin-bottom:2%;
}
.wooowbutton{
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px; 
}
.wooowlabel {
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.superlabel {
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.superbutton {
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px; 
}
.superdiv{
    margin-top:6%;
}
.superrdiv{
    margin-top:6%;
}
.superrbutton {
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px; 
}
.superrlabel{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.superrp{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    text-decoration: underline;
}
.superrrdiv{
    margin-top:6%;
}
.superrrlabel{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.superrrbutton {
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px; 
}
.superrrp{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    text-decoration: underline;
}
.amazzdiv {
    margin-top:6%;
}
.amazzbut{
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px;
}
.amazzp{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    text-decoration: underline;
}
.amazzlab{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
.amazdiv {
    margin-top:6%;
}
.amazbut{
    background-color: rgba(199, 109, 6, 0.541);
    border-color: #862904;
    border-radius: 30px;
}
.amazp{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
    text-decoration: underline;
}
.amazlab{
    font-family: 'Golos Text', sans-serif;
    color: darkred;
}
